*{
margin:0;
padding:0;
box-sizing:border-box;
}
.parent{
display:flex;
height:auto;
width:100vw;
background-color:lightblue;
}
.child1{
margin:5rem;
width:100%;
}
.data-container{
gap:2rem;
margin-top:5rem;
}

